<a href='/'>Home</a>
<br/>
Get some viz soon
<form action="/price" method="POST">
  <input type="text" placeholder="age" name="age">
  <input type="text" placeholder="multiple" name="multiple">
  <button type="submit">Submit</button>
</form>
<ul>
  <li><span><%= vals.age %></span></li>
  <li><span><%= vals.multiple %></span></li>
  <li><span><%= price %></span></li>
</ul>
